#main {
	width: 640px;
	height: 480px;
	overflow: hidden;
	margin: 10px auto;
	border: 1px solid black;
	position: relative;
	background: url('../img/BG+forest.png') repeat-x;
	background-color: #22aaFF;
	background-position: 0px 200px;
	background-size:contain;
}

body{
	font-family: arial, sans-serif;
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

#track {
	position: absolute;
	bottom: 0px;
	height: 120px;
	width: 100%;
	background: url('http://img.stockfresh.com/files/t/tashatuvango/x/36/2732965_67415523.jpg');
	border-top: 1px solid black;
}

#character {
	bottom: 10px;
	left:30%;
}

#monster {
	bottom: 25px;
	left:-200px;
}

#main > div {
	position: absolute;
}
#trash {
	bottom: 120px;
}
#trash > img {
	position: absolute;
	cursor: pointer;
	padding: 10px;
}
#trash > img:hover {
	background-color: rgba(255,255,255,0.2);
	border-radius: 7px;
}
#trash > img.clicked {
	background-color: rgba(255,255,0,0.7);
	border-radius: 7px;
}
.overlay {
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.9);
}
.overlay > div {
	margin: 0 auto;
	position: relative;
	top: 10%;
	background-color: white;
	text-align: left;
	padding: 40px;
	border-radius: 20px;
	width: 70%;
}
#loading{
	display: block;
}
.bin{
	top: 10px;
}
.bin > img {
	display: block;
	padding: 10px;
}
.bin > img.onActive{
	background-color: rgba(255,255,255,0.4);
	border-radius: 7px;
}
.bin > img.onHover{
	background-color: rgba(255,255,0,0.4);
	border-radius: 7px;	
}
#paper {
	left: 140px;
}
#organic {
	left: 280px;
}
#score {
	background-color: #881111;
	border-radius: 5px;
	width: 50px;
	height: 150px;
	left: 20px;
	position: absolute;
	top:20px;
	overflow: hidden;
	border: 2px solid black;
}
#score > div {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: green;
}
.maintenance {
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: url('http://easypiewp.com/bobstuff/uploads/2013/10/MaintenanceModeLogo.png') no-repeat center;
	background-color: rgba(255, 255, 255, 0.5);
}
#bushes {
	bottom: 0px;
	left: 0px;
}
.bush {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
}
.bold{
	font-weight: bold;
}
.blue{
	color:#0000AA;
}
.pauseBtn{
	cursor: pointer;
}
.pauseBtn.inGame{
	font-size: 20px;
	top: 20px;
	right: 30px;
	padding: 10px;
	background-color: #ee5555;
	border: 2px outset #bb2222;
	border-radius: 5px;
}
.pauseBtn.inGame:active {
	border: 2px inset #bb2222;
	border-radius: 5px;	
};